[submodule "ruoyi-vue-pro"]
	path = ruoyi-vue-pro
	url = https://gitee.com/zhijiantianya/ruoyi-vue-pro.git
[submodule "yudao-ui-admin-vue3"]
	path = yudao-ui-admin-vue3
	url = https://gitee.com/yudaocode/yudao-ui-admin-vue3.git
